<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="{{ title }}">
    <meta name="referrer" content="{{ content }}">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />

    <title>{{ title }}</title>
    </head>
<body>
<h1>{{ title }}</h1>
<div>
    {{ conntent }}
</div>
<a href="{{ link }}">{{ link }}</a>
</body>
</html>