<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>豆瓣电影250</title>
    <meta name="author" content="mrmrs">
    <meta name="description" content="Common HTML patterns">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <h1>豆瓣电影250<h1>
    <div>
        {% for i in model_list %}
        <li><a href="/movie/{{i.id}}.html">{{ i.title }}</a></li>
       {% endfor %}
    </div>

      <div>
       {% if 0 %}
       <li><a class="btn" href="/page/list_2.html">下一页</a></li>
        {% endif %}
        {% if up %}
      <li><a class="btn" href="/page/list_{{ up }}.html">下一页</a></li>
        {% endif %}
    </div>
  </body>
</html>

